<html>
 <head>
 <title>Pessoa</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 </style>
 </head>
 <body>
 <a href="insert">Inserir novo</a> | <a href="read">Ver todos</a> <br> <br>
 <table style="width:100%">
 <tr>
     <th>ID</td>
     <th>Nome</td>
     <th>E-mail</td>
     <th>Idade</td>
     <th>Excluir?</td>
     <th>Alterar?</td>
 </tr>
 <tr th:each="Pessoa : ${pessoa}">
     <td th:text="${pessoa.id}"></td>
     <td th:text="${pessoa.name}"></td>
     <td th:text="${pessoa.email}"></td>
      <td th:text="${pessoa.idade}"></td>
     <td><a th:href="@{/delete(id=${pessoa.id})}">Deletar</a></td>
     <td><a th:href="@{/update(id=${pessoa.id})}">Alterar</a></td>
 </tr>
 </table>
 </body>
</html>